table
    {
        font-family: monospace, light;
        border-collapse: collapse;
        width: 30%;
    }  
td, th
    {
        border: 1px solid #cfcccc;
        text-align: left;
        padding: 6px;
    }
tr:nth-child(even)
    {
        background-color: #ffe3ec;
    }